{% extends 'without.html' %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    {% comment %} <title>{% block title %}About Us{% endblock %}</title> {% endcomment %}
</head>

<body>
    {% block pagecontent %}
        <!-- Your existing page content goes here -->

        {% block aboutus %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Password_Reset_Complete{% endblock %}</title>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="alert-heading">Reset Password completed</h3>
            <div>
                <iframe src="https://media1.giphy.com/media/dWOKEQ5ewh94RJLemj/giphy.gif?cid=ecf05e47gf6odd6awt4eycx9jkk9buujco1h2uv9jranua93&rid=giphy.gif&ct=g" width="200" height="200" frameBorder="0" class="giphy-embeded" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
<<footer class="footer">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full md:w-1/2 md:text-center md:mb-0 mb-8">
            <p class="text-xs text-gray-400 md:text-sm">© 2024 Wheel 2 Go. All Rights Reserved | <a href="http://127.0.0.1:8000/privacy" class="text-gray-400 hover:text-white">Privacy Policy</a> | <a href="http://127.0.0.1:8000/terms" class="text-gray-400 hover:text-white">Terms of Use</a></p>
        </div>
    </div>
</footer>
{% endblock aboutus %}
{% endblock pagecontent %}